.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: rgb(71, 71, 71);
  text-decoration: none; /* no underline */
}
.nav {
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
}
nav {
  top: 0;
  width: 100%;
  transition: all 0.5s;
  position: relative;
  z-index: 1;
  flex-direction: column;
  display: flex;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
}

.search-form {
  margin: 10px;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  border-radius: 20px;
}

.search-bar {
  width: 350px;
  height: 10px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-content: center;
}

.recipes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.recipe {
  border-radius: 10px;
  margin: 10px;

  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  display: flex;
  height: 350px;
  width: 350px;
  justify-content: center;
}

.recipe img {
  width: 200px;
  height: 200px;
}

/* .recipe input {
  position: asolute;
  right: 5px;
  top: 5px;
} */

.ingredients {
  width: 350px;
  height: 350px;
  overflow: scroll;
}
