.App {
  text-align: center;
  font-family: sans-serif;
  display: block;
}

.App-header {
  display: flex;
}

/* NAV */
.App-header h1 {
  display: flex;
  align-self: flex-start;
  padding-left: 25px;
  width: 500px;
}

nav {
  width: 100%;
  display: flex;
  transition: all 0.5s;
  z-index: 1;
  flex-direction: column;
  margin-top: 20px;
}

nav ul {
  list-style: none;
  display: flex;
}

nav li {
  flex: 1;
}

img {
  margin: 15px 0px 0px 10px;
  width: 50px;
  height: 50px;
}

h3 {
  justify-content: center;
  max-width: 250px;
}

a {
  color: rgb(71, 71, 71);
  text-decoration: none; /* no underline */
}

.icon {
  position: absolute;
  top: 38px;
  right: 30px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.3);
}

.hide {
  display: none;
}

.container {
  border: solid 1px;
  width: 300px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  flex-wrap: wrap;
}

.container label {
  text-align: left;
}

.search-form,
form {
  margin: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  border-radius: 20px;
}

.search-bar {
  width: 350px;
  height: 10px;
  border-radius: 20px;
  margin: 10px;
  padding: 10px;
  display: flex;
  align-content: center;
}

.bkmk-btn {
  text-align: center !important;
  cursor: pointer !important;
}

.recipes {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  flex-basis: 350px;
}
.recipe {
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  display: flex;
  height: 350px;
  width: 350px;
  justify-content: center;
  position: relative;
}

.recipe img {
  width: 200px;
  height: 200px;
}

/* .recipe input {
  position: asolute;
  right: 5px;
  top: 5px;
} */

.ingredients {
  width: 350px;
  height: 350px;
  overflow: scroll;
}

.category {
  border-radius: 10px;
  margin: 10px;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 5px 10px rgb(71, 71, 71);
  display: flex;
  height: 250px;
  width: 250px;
  justify-content: center;
  position: relative;
  background-size: cover; /* <------ */
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
}

.category:hover {
  opacity: 70%;
}

.category h2 {
  background-color: rgb(185, 182, 182, 0.7);
  /* align-self: stretch; */
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  /* opacity: 70%; */
}
#breakfast {
  background-image: url('images/breakfast.jpg');
}

#lunch {
  background-image: url('images/lunch.jpg');
}
#dinner {
  background-image: url('images/dinner.jpg');
}
#american {
  background-image: url('images/american.jpg');
}
#asian {
  background-image: url('images/asian.jpg');
}
#italian {
  background-image: url('images/italian.jpg');
}
#drinks {
  background-image: url('images/drinks.jpg');
}
#desserts {
  background-image: url('images/desserts.jpg');
}
#snacks {
  background-image: url('images/snacks.jpg');
}
